@model IEnumerable<Product>
<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
      rel="stylesheet">
<!-- Css Styles -->
<link rel="stylesheet" href="~/css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="~/css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="~/css/elegant-icons.css" type="text/css">
<link rel="stylesheet" href="~/css/magnific-popup.css" type="text/css">
<link rel="stylesheet" href="~/css/nice-select.css" type="text/css">
<link rel="stylesheet" href="~/css/owl.carousel.min.css" type="text/css">
<link rel="stylesheet" href="~/css/slicknav.min.css" type="text/css">
<link rel="stylesheet" href="~/css/style.css" type="text/css">

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new">
            <div class="product__item new">
                <div class="product__item__pic" style="padding-bottom: 0px !important">
                    <a href="/Home/ProductDetailView?id=@item.Product_id">
                        <img src="@Url.Content($"~/img/{item.Brand?.BrandName ?? "default"}/{item.TypeCoffee?.TypeName ?? "default"}/{item.Image ?? "default.jpg"}")"
                             alt="@item.ProductName"
                             class="product__item__img" />
                    </a>
                    <span class="label">New</span> 
                </div>
                <div class="product__item__text">
                    <h6>@item.ProductName</h6>
                    <a href="#" class="add-cart add-to-cart" data-product-id="@item.Product_id">+ Thêm vào giỏ hàng</a>
                    <div class="rating">
                        @{
                            int fullStars = (int)(item.Rating / 20);
                            bool hasHalfStar = (item.Rating % 20 >= 10);
                        }
                        @for (int i = 0; i < fullStars; i++)
                        {
                            <i class="fa fa-star"></i>
                        }
                        @if (hasHalfStar)
                        {
                            <i class="fa fa-star-o"></i>
                        }
                        <small>(@item.ReviewCount)</small>
                    </div>
                    <h5>₫ @string.Format(new System.Globalization.CultureInfo("vi-VN"), "{0:#,0}", item.Price - (item.Price * item.Discount / 100))</h5>
                    <h6 class="text-muted ml-2"><del>$ @item.Price</del></h6>
                </div>
            </div>
        </div>
    }
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Xử lý add to cart
        document.querySelectorAll('.add-to-cart').forEach(button => {
            button.addEventListener('click', function (event) {
                event.preventDefault();
                const productId = this.getAttribute('data-product-id');
                const button = this;

                button.classList.add('loading');
                button.innerHTML = 'Đang thêm...';

                fetch('/cart/AddToCart', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(productId)
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Error adding to cart');
                    }
                    return response.json();
                })
                .then(data => {
                    if (document.querySelector('.cart-count')) {
                        document.querySelector('.cart-count').textContent = data.cartCount;
                    }

                    button.innerHTML = '<span style="color: green;">✓ Đã thêm thành công</span>';

                    setTimeout(() => {
                        button.innerHTML = '+ Thêm vào giỏ hàng';
                        button.classList.remove('loading');
                    }, 1500);
                })
                .catch(error => {
                    console.error('Error:', error);
                    button.classList.remove('loading');
                    button.innerHTML = '+ Thêm vào giỏ hàng';
                });
            });
        });
    });
</script>